:root {
  --main-color: white;
  --text-color: black;
  --text-light-color: rgb(149, 149, 149);
  --dim-color: rgb(230, 230, 230);
  --accent-color: rgb(182, 0, 0);
  --box-color: silver;
  
  /* more specific styling */
  --nav-link-hover-color: hsla(0, 0%, 0%, 0.2);
  --button-hover-color: hsla(0, 0%, 0%, 0.05);
  --large-button-hover-color: rgb(140, 0, 0);

  /* background */
  --background-picture-background-color: white;
  --background-picture-image: url('../images/background-transparent-v0.png');
  --background-picture-overlay-color: rgba(70, 70, 70, 0.2);
  --background-color: rgba(70, 70, 70);
  /* also change disabled input style below */
}

input:disabled {
  color: rgb(84, 84, 84); /* <-- manual color */
  background-color: rgb(235, 235, 228); /* <-- manual color */
}

html {
  background-color: rgb(70, 70, 70); /* fallback color */
  background-color: var(--background-color, rgb(70, 70, 70)); /* fallback color */
  background: linear-gradient(
    to bottom,
    rgba(70, 70, 70, 0.2) 0%,
    rgba(70, 70, 70, 0.2) 20vw,
    rgb(70, 70, 70) 35vw
  ), url('../images/background-transparent-v0.png') repeat-x,
  white;
  background: linear-gradient(
    to bottom,
    var(--background-picture-overlay-color, rgba(70, 70, 70, 0.2)) 0%,
    var(--background-picture-overlay-color, rgba(70, 70, 70, 0.2)) 20vw,
    var(--background-color, rgb(70, 70, 70)) 35vw
  ), var(--background-picture-image, url('../images/background-transparent-v0.png')) repeat-x,
  var(--background-picture-background-color, white);
  background-size: 50vw;
  /* CLEARED */
}

body {
  background-color: white;
  background-color: var(--main-color, white);

  color: black;
  color: var(--text-color, black);
}

body > * {
  border-color: rgb(230, 230, 230);
  border-color: var(--dim-color, rgb(230, 230, 230));
}

hr {
  border-color: silver;
  border-color: var(--box-color, silver);
}

body > nav {
  background-color: rgb(182, 0, 0);
  background-color: var(--accent-color, rgb(182, 0, 0));
  color: white;
  color: var(--main-color, white);
}

body > nav > * {
  color: inherit;
}

body > nav a:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  background-color: var(--nav-link-hover-color, hsla(0, 0%, 100%, 0.2));
}

footer {
  background-color: silver;
  background-color: var(--box-color, silver);
  color: black;
  color: var(--text-color, black);
}

/* header {
  background-color: white;
} */

/* .header-title > span:nth-child(2) { */
.header-title {
  color: rgb(149, 149, 149);
  color: var(--text-light-color, rgb(149, 149, 149));
}

/* .header-title > span:nth-child(1) { */
.header-title > span:first-child {
  color: rgb(182, 0, 0);
  color: var(--accent-color, rgb(182, 0, 0));
}

#dev-status {
  color: black;
  color: var(--text-color, black);
}
  
h1.body-title {
  border-bottom-color: silver;
  border-bottom-color: var(--box-color, silver);
}

.banded-table th {
  border-bottom-color: black;
  border-color: var(--text-color, black);
}

.banded-table tbody tr:nth-last-child(odd) {
  background-color: silver;
  background-color: var(--box-color, silver);
}

.schedule-event-picture {
  border-color: black;
  border-color: var(--text-color, black);
  background-color: silver;
  background-color: var(--box-color, silver);
}

input {
  border-color: black;
  border-color: var(--text-color, black);
  background-color: white;
  background-color: var(--main-color, white);
  color: black;
  color: var(--text-color, black);
}

input[type="button"]:not(.large-button):hover, input[type="submit"]:not(.large-button):hover {
  background-color: hsla(0, 0%, 0%, 0.05);
  background-color: var(--button-hover-color, hsla(0, 0%, 0%, 0.05));
}

input.large-button {
  background-color: rgb(182, 0, 0);
  background-color: var(--accent-color, rgb(182, 0, 0));
  color: white;
  color: var(--main-color, white);
}

input[type="button"].large-button:hover, input[type="submit"].large-button:hover {
  background-color: rgb(140, 0, 0);
  background-color: var(--large-button-hover-color, rgb(140, 0, 0));
}

a[href^="mailto:"]::after {
  color: rgb(149, 149, 149);
  color: var(--text-light-color, rgb(149, 149, 149));
}

footer a[href^="mailto:"]::after,
.banded-table tbody tr:nth-last-child(odd) a[href^="mailto:"]::after,
.schedule-event-picture a[href^="mailto:"]::after,
.quote a[href^="mailto:"]::after,
.embed a[href^="mailto:"]::after {
  color: inherit;
}

.quote {
  background-color: silver;
  background-color: var(--box-color, silver);
}

/* .white-img-background {
  background-color: white;
} */

.embed {
  background-color: silver;
  background-color: var(--box-color, silver);
}

#attendance-name {
  background-color: rgb(230, 230, 230);
  background-color: var(--dim-color, rgb(230, 230, 230));
}
